<div id="<%= dom_id time_off %>">
  <p>
    <strong>Range:</strong>
    <%= time_off.range %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= time_off.description %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= time_off.kind %>
  </p>

  <p>
    <strong>Half day:</strong>
    <%= time_off.half_day %>
  </p>

  <p>
    <strong>Paid time:</strong>
    <%= time_off.paid_time %>
  </p>

  <p>
    <strong>Calendar:</strong>
    <%= time_off.calendar %>
  </p>

  <p>
    <strong>Worker:</strong>
    <%= time_off.worker_id %>
  </p>

</div>
